.container {
  display: flex;
  gap: 25px;

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    margin: 15px 0px;
    width: 100%;
  }
}

.link {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
}
